/**
 * Place your custom CSS styles here.
 **/


/*div._1dwg._1w_m._q7o>._4r_y {*/
.ibetter_container {
    padding: 2em;
    position: relative;
}

.ibetter_div {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.ibetter_button {
    padding: 0.5em 0 0.5em 0;
    width: 40%;
    background: #3b5998;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-right: 1em;
}

.ibetter_button.real {
    background: #00b894;
    color: #fff;
}

.ibetter_button.fake {
    background: #ff7675;
    color: #fff;
}