/**
 * Place your custom CSS styles here.
 **/


div._1dwg._1w_m._q7o>._4r_y {
    padding: 2em;
    position: relative;
}
/*
div._1dwg._1w_m._q7o>div {
    position: relative;
    padding: 2em;
    margin-bottom: 2em;
}
.ibetter_div {
    position: relative;
}*/